*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    position: absolute;

    width: 400px;
    height: 425px;

    top:50%;
    left: 50%;

    transform: translate(-50%,-50%);

    font-size: 18px;
}
#canvas1{
    position: absolute;
    /* border: 5px solid black; */
    bottom: 0;

    width: 400px;
    height: 400px;
}

.controls{
    display: flex;
    position: absolute;
    left: 0;
    top:0;
    /* margin-bottom: 20px; */
}

.controls select{
    border-radius: 5px;
    background-color: black;
    color: white;
    appearance: none;
    border: none;
    padding: 2px 20px 2px 8px;
    margin-left: 10px;

}

.controls select:hover{
    color: white;
    background: rgb(37, 37, 37);
    border: none;
}

.controls .select-icon{
    color: #fff;
    display: flex;
    position: absolute;
    right: 0;
    width: 15px;
    height: 100%;
    align-items: center;
    justify-content: center;
}